<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LoL_item_sets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Lol_item_sets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <LoL_item_sets.Properties.Settings>
            <setting name="Minimize_When_Closed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Launch_On_Windows_Start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Refresh_Time" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="Save_Folder" serializeAs="String">
                <value>C:\Riot Games\League of Legends\Config\Champions</value>
            </setting>
        </LoL_item_sets.Properties.Settings>
        <Lol_item_sets.Properties.Settings>
            <setting name="Minimize_When_Closed" serializeAs="String">
                <value>True</value>
            </setting>
        </Lol_item_sets.Properties.Settings>
    </userSettings>
</configuration>
